/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



*{
    margin: 0;
    padding: 0;
    /*font-family: 'Inter', serif;*/

}
body{
    margin-left: 112px;
    margin-right: 112px;
    font-family: 'Inter', serif;
    font-style: normal;
}
.container{
    width: 1440px;
    height: 866px;
    left: 0;
    top: 0;
    background-image: url(".././images/Background.png");
    margin: auto;
}
.sections{
    margin-left: 112px;
    margin-right: 112px;
}
.navbar{
    display: flex;
    align-items: center;
}
.logo{
    position: static;
    width: 128px;
    height: 32px;
    /*left: 0;*/
    margin-top: 24px;
    padding-right: 24px;
}
nav{
    flex: 1;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 24px;
    margin-right:24px;
}
nav ul li a{
  text-decoration: none;
    color: #111827;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.storeBadge{
    margin-right: 13px;
    margin-top: 24px;
}

.headerAndPhoneImg{
    display: flex;
    justify-content: space-between;
}
.header{
    flex-basis: 60%;
}

.headerAndPhoneImg h2{
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    margin-top: 248px;
    margin-bottom: 16px;
}
.headerAndPhoneImg p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #374151;
}
.getStarted_and_WatchVideo_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

}
.getStartedBtn{
  background-color: #7C3AED;
    border-radius: 8px;
    width: 138px;
    height: 56px;
    position: static;
    border: 0;
}

.WatchVideoBtn{
    padding: 0;
    left: 154px;
    width: 179px;
    height: 56px;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    margin: 0 16px;
    background-color: transparent;
}
.getStarted_and_WatchVideo_btn p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.getStartedBtn p{
    color: #FFFFFF;
}

.WatchVideoBtn p{
 color: #7C3AED;
}

.watchVideoBtnImg{
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    margin-right: 10px;

}
.mobileImg{
    position: static;
    width: 320px;
    /*width: 380px;*/
    height: 640px;
    /*height: 700px;*/
    left: 84px;
    margin-top:152px;
    margin-bottom: 16px;
}
.logo_container{
    display: flex;
    align-items: center;
    padding: 0;
    position: static;
    width: 1216px;
    height: 110px;
    /*margin: 10px 0;*/
    justify-content: center;
}
.logo_container img{
    display: inline-block;
    /*margin-top: 24px;*/
    margin-right:64px;
}
.tailor_made_features{
    position: static;
    text-align: center;
    color: #111827;
    margin-top: 96px;

}
h3{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
}
.tailor_made_features h3{

    margin: 8px 0px;
}

.tailor_made_features p{

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 65px;

}
.features{
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}
.features .col-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    width: 384px;
    height: 152px;
    border-radius: 8px;
    flex: none;
    margin: 0 30px;
}
.features h4{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #111827;
    flex: none;
    margin-top: 24px;
}
.features p{
    position: static;
    width: 352px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #374151;
    margin: 8px 0px;
}
.realStories{
    position: relative;
    width: 1440px;
    height: 892px;
    background: #D5FAFC;
}
.quote{
    position: absolute;
    top: 64px;
    left: 112px;
    opacity: 0.2;

}
.realStories h3{
    position: absolute;
    top: 120px;
    left: 216px;
}

